<section>
  <div class="page-header">
    <h1>My Packages</h1>
  </div>
    <div class=row" ng-repeat="packagep in vm.packageps  | filter:userfilter">
       <label style="width: 70%;" class="btn btn-default" ng-bind="packagep.name">
      </label>
        <button style="width: 14%;" class="btn btn-default" ng-click="edit(packagep._id)"> Edit </button>
        <button style="width: 14%;" class="btn btn-default"> Delete </button>
    </div>
  <div class="alert alert-warning text-center" ng-if="vm.packageps.$resolved && !vm.packageps.length | filter:userfilter">
    No Packages yet.
  </div>
</section>
