<style>
  .btn {
    width: 135px;
  }
</style>
<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>
          PRIOREATIZE EAT. SMILE.
        </h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
       Prioritize what you care about. find what you're looking for.
      </p>
    </div>
    <form action="/restaurants">
      <div class="row">
        select a predefined package: </br>
        <div class="package-container" style="text-align: center; display: flex; text-align: center; justify-content: center;">
          <div class="col" style="margin: 0px;" ng-repeat="package in vm.packages | filter:userfilter">
            <label class="btn btn-info" style="border-radius: 0px" ng-bind="package.name" ng-click="choosePackage(package)"/>
          </div>
          <a href='/packageps/create/' class="btn btn-default" style="margin-left: 5px; width: 4%">+</a>
        </div>
      </div>
      OR </br>
      choose what you care about:
      <div class="row">
      <div ng-repeat="category in vm.categories">
        <div class="btn-group" data-toggle="buttons" style="padding: 2px">
          <label class="btn btn-info" ng-bind="category.name">
            <input type="radio" name="nothing" id={{category.name}}"option0" autocomplete="off">
          </label>
          <label class="btn btn-primary">
            <input type="radio" ng-value="0" name={{category.name}} id="{{category.name}}0" autocomplete="off" ng-model="selectedRadio" ng-change="changeRadio(category.name + 0)" ng-checked="vm[category.name]==0"> don't care
          </label>
          <label class="btn btn-success">
            <input type="radio" ng-value="1" name={{category.name}} id="{{category.name}}1" autocomplete="off" ng-model="selectedRadio" ng-change="changeRadio(category.name + 1)" ng-checked="vm[category.name]==1"> important
          </label>
          <label class="btn btn-danger">
            <input type="radio" ng-value="2" name={{category.name}} id="{{category.name}}2" autocomplete="off" ng-model="selectedRadio" ng-change="changeRadio(category.name + 2)" ng-checked="vm[category.name]==2"> critical
          </label>
        </div>
      </div>
      </div>
      OR </br>
      search by name and city
      <div class="row">
          <input type="text" placeholder="Yum Yum Pizza.." name="name">
          <input type="text" placeholder="Los Angeles.." name="city">
      </div>
      <div class="row" style="padding: 2%">
        <p class="lead">
          <input type="submit" class="btn btn-primary btn-lg" href="/search" value="Search"> </input>
        </p>
        <button type="button" class="btn btn-default" ng-click="emitClick()"> </button>
      </div>
    </form>
  </div>
</section>

