<section>
  <div class="page-header">
    <h1>Restaurants</h1>
  </div>
  <div class="page-header"><h2>Restaurant Results Statistics</h2></div>
  <div class="group">
    <div class="restaurants-by-review-count">
      <div d3-bars bar-height="20" bar-padding="5" data="data" ng-if="dataHasLoaded"></div>
    </div>
    <div class="restaurants-by-state">

    </div>
  </div>
  <div class="page-header"><h2>Search Results</h2></div>

  <div class="panel panel-default">
      <div class="panel-body">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label style="margin-right:0;">Filter:</label>
              <input type="search" class="form-control input-sm"
                     ng-model="search" placeholder="Filter Restaurants..."/>
                <button type="button" onclick="graph1()" class="btn btn-default">Load Statistics</button>
            </div>
          </form>
      </div>
    </div>
  <div class="list-group">
    <a ng-repeat="restaurant in vm.restaurants | filter:search as results"
       ui-sref="restaurants.view({ restaurantId: restaurant._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="restaurant.name"></h4>
      <h6><span class="glyphicon glyphicon-map-marker"></span>{{restaurant.address}}</h6>
      <rating-stars stars={{restaurant.stars}}></rating-stars>
    </a>
  </div>
</section>
