<section>
  <div class="page-header"> </div>
    <h1 ng-bind="vm.restaurant.name"></h1>
  <p class="lead">{{vm.restaurant.address}},{{vm.restaurant.city}}, {{vm.restaurant.state}}</p>
  <p class="lead">stars: {{vm.restaurant.stars}}</p>
  <p class="lead">romantic: {{vm.restaurant.romantic_rating}}</p>
  <p class="lead">food quality: {{vm.restaurant.food_quality_rating}}</p>
  <p class="lead">service quality: {{vm.restaurant.service_quality_rating}}</p>
  <p class="lead">fast: {{vm.restaurant.fast_rating}}</p>
  <p class="lead">price: {{vm.restaurant.price_rating}}</p>
  <p class="lead">big portions: {{vm.restaurant.big_dish_rating}}</p>
  <p class="lead">vegeterian: {{vm.restaurant.good_for_vegeterian_rating}}</p>
  <p class="lead">meat: {{vm.restaurant.good_for_meat_rating}}</p>
  <p class="lead">fit for business meetings: {{vm.restaurant.good_for_business_rating}}</p>




</section>
