.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.cradio {
	background: none !important;
	color: #0099cc !important;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
div.site-header {
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	font-family: "Arial Black", Gadget, sans-serif;
}
div.packages {
	padding-left: 250px;
	padding-right: 250px;
}
a.btn-new-pkg {
	border-radius: 40px;
	border: 1px solid #121416;
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	padding: 1.2vh 1.5vw;
	color: #121416;
	font-weight: bold;
}
label.btn-pkg {
	border-radius: 10px;
	border: 1px solid #121416;
	transition: all 0.3s ease;
	font-size: 16px;
	padding: 1.2vh 1.5vw;
	color: #121416;
	background: transparent;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: normal;
}
label.btn-pkg:hover {
	box-shadow: inset 0 0 0 5px #53a7ea;
}
a.btn-new-pkg:hover {
	background: #53a7ea;
	color: white;
}
div.package-container {
	margin-top: 30px	;
}
label.btn-category {
	border-radius: 10px;
	border: 1px solid #121416;
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	color: #121416;
	background: transparent;
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	height: auto;
	padding: 0.4vh;
	float: left;
	font-weight: normal;
}
h4.category-filtering {
	margin-top: 30px;
	margin-bottom: 20px;
}
div.row label {
	margin-bottom: 0;
}
input.btn-submit {
	border-radius: 40px;
	border: 1px solid #121416;
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	padding: 1.2vh 1.5vw;
	color: #121416;
	background-color: transparent;
	font-weight: bold;
}
input.btn-submit:hover {
	background: #53a7ea;
	color: white;
}
button.btn-submit {
	border-radius: 40px;
	border: 1px solid #121416;
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	padding: 1.2vh 1.5vw;
	color: #121416;
	background-color: transparent;
	font-weight: bold;
}
button.btn-submit:hover {
	background: #53a7ea;
	color: white;
}

